/*********************************/
/* HEADER AND CONTENTS INSIDE IT */
/*********************************/

.header {
  overflow: hidden;
  background-color: #8fbbd2;
  padding: 10px 10px;
  border-bottom: solid 2px black;
  position: relative;
}

/*include fonts used for links BYT FONT*/ 
@font-face {
  font-family: funwork2;
  src: url(../fonts/funwork-webfont.woff2);
}

/* header links */
.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 2vw;
  font-weight: bold;
  line-height: 25px;
  border-radius: 4px;
  font-size: 1.8vw;
  font-family: funwork2;

}

.logo{
  width: 5vw;
  border: solid 2px black;
  border-radius: 1vw;
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.header a.logo {
  font-size: 25px;
  font-weight: bold;
}


/* Float the link section to the right */
.header-right {
  position: block;
  float: right;
  margin-right: 5.5vw;
  margin-top: 40px;
  display:flex;
  justify-content: space-between;

}

#headerlink1{
  margin-left: 2vw;
  margin-right: 2vw;
  background-color: #79a3b9;
}
#headerlink1:hover, #headerlink2:hover{
background-color: rgb(189, 213, 226);
}

#headerlink2{
  background-color: #79a3b9;
}


.headerButton{
  border: solid 2px black;
   display:flex;
}
/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}

/*********************************/
/* The Modal */
/*********************************/
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* help box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1.5px solid rgb(0, 0, 0);
  width: 80%; 
  font-family: funwork2;
}

/* style pop up help box text*/
.helpbox {
  text-align: center;
  font-size: 3vw;
  font-family: funwork2;
}


.close {
  color: rgb(0, 0, 0);
  float: right;
  font-size: 28px;
  font-weight: bold;
  font-family: funwork2;
}

.close:hover, .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/*********************************/
/* FOOTER AND CONTENTS INSIDE IT */
/*********************************/

.footer{
    margin-top: auto;
    background-color: #8fbbd2;
    padding: 20px 10px;
    border-top: solid 2px black;
    margin-bottom: 0;
    overflow:auto;
  }
  
  .pfoot{
    text-align: left;
    padding: 10px 10px;
    font-family: funwork2;
  }

/*********************************/
/* MAIN PAGE */
/*********************************/

/*include fon for header*/
@font-face {
  font-family: legofont;
  src: url(../fonts/lego_brix-webfont.woff);
}

body{
  margin: 0px;
  display:flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url(../bilder/lego_background.jpg);
}

#header_main{
  text-align:center;
  text-shadow: 2px 2px rgb(255, 255, 255) ;
  font-size: 3.5vw;
  font-family: legofont;
  margin-block-start: 0em;
  margin-block-end: 0em;
}

input[type=text] {
  margin-left:30vw;
  padding: 15px;
  font-size: 2vw;
  border: none;
  width: 35%;
  background: white;
  float:left;
}


input[type=text]:hover {
  background: #d4d4d4;
}

#overlay-search {
  display:flex;
  flex-direction:row;
  justify-content: center;
  

}


/* Style the submit button */
.button{
  width: 5vw;
  height: 2.5vw;
  background: #ddd;
  font-size:1vw;
  border: none;
  cursor: pointer;
  text-align: center;
  border-left: 0.05vw solid black;
  font-family: funwork2;
}

/* questionmark button */
#help_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 0.05vw solid black;
}

/* style when hovering over button beside search bar */
.button:hover{
  background: rgb(189, 213, 226);
}

.searchform{
  display:flex;
  margin-bottom: 5vw;
  border: 0.05vw solid black;
}

/* style searchbar */
#search {
  width: 15vw;
  height: 2.5vw;
  font-family: funwork2;

}
  /*********************************/
/* DARK/LIGHT MODE AND CONTENTS INSIDE IT */
/*********************************/
#toggle-mode-button  {
  float: left;
  background-color: #79a3b9;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 2vw;
  border-radius: 4px;
  font-weight: bold;
  line-height: 25px;
  border:solid 2px black;
  font-size: 1.8vw;
  font-family: funwork2;
}

#toggle-mode-button:hover{
  background:rgb(189, 213, 226);
}

.dark-mode {
  background-image: url(../bilder/lego_background_dark.jpg);
}

.dark-mode .header {
  background-color: #6b0de6;
}
.dark-mode .footer{
  background-color: #6b0de6;
}
/*********************************/
/* HELP PAGE */
/*********************************/
.ruta1, .ruta2, .ruta3, .ruta4{
background-color: #8fbbd2;
border-radius: 2vw;
display: flex;
flex-direction: row;
justify-content: space-around;
width: 61vw;
height: 10vw;
align-items: center;
margin: auto;
margin-bottom: 3vw;
border: solid 2px black;
font-size: 20px;
box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, 0.2);
}

.helppic1, .helppic2, .helppic3, .helppic4 {
border-radius: 2vw;
margin: 0.2vw;
margin-top: 1vw;
margin-bottom: 1vw;
width: 10vw;
height: 9vw;
border: solid 2px black;
}

.helplist1, .helplist2, .helplist3, .helplist4 {
flex-basis: 80%;
text-align: center;
font-family: funwork2;
}

/*********************************/
/* SearchBackgroundBox */
/*********************************/
.searchbackgroundbox{
  background-color:#8fbbd2;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33vw;
  height: 18vw;
  border: solid 2px black;
  border-radius: 1.5vw;
  margin:auto;
  margin-top: 5vw;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, 0.2);
  flex-wrap: wrap;
}

/*********************************/
/* SEARCH PAGE */
/*********************************/

.searchContainer{
  display: flex;
  justify-content: center;
  padding-top: 1vw;
}

a:link, a:hover, a:visited {
  font-family: funwork2;
  font-size: 2vw;
  margin: auto;
  display: block; 
  justify-content: center;
  text-decoration: none;
  color: black;
}

#setinfo, .partinfo{
  border-radius: 4px;
  font-weight: bold;
  font-family: funwork2;
  padding: 1vw;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
}

#setinfo:hover, .partinfo:hover{
  background:rgb(189, 213, 226);
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#legopartpic, #setImg{
  width: 8vw;
  border: solid 1px black;
  height: 6vw;
  border-radius: 1vw;
  margin-left: 1vw;
  
}

.part, .set {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 4vw;
  padding: 1vw;
  flex-basis: 70%;
  height: 7.5vw;
  background-color:#8fbbd2;
  flex-grow: 0;
  flex-shrink: 0;
  border: solid 2px black;
  border-radius: 1.5vw;
  width: 65vw;
  text-align: center;
  margin: 1.5vw;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, 0.2);
}

.part p, .set p{
  padding-right: 1vw;
}

/*********************************/
/* ABOUT US */
/*********************************/

.container-aboutus{
margin: 200px 0 0 0;
}

#box1, #box2, #box3, #box4, #box5 {
background-color: #8fbbd2;
border-radius: 2vw;
display: flex;
flex-direction: row;
justify-content: space-around;
width: 61vw;
height: 10vw;
align-items: center;
margin: auto;
margin-bottom: 3vw;
border: solid 2px black;
font-size: 20px;
box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, 0.2);
}


h3{
  text-align: center;
  font-family: funwork2;
}

.text-aboutus {
  display: flex;
  flex-direction: row;
}


.container-header {
  background-color: #8fbbd2;
  width: 10vw;
  height: 4vw;
  display: flex;
  margin:auto;
  position: absolute;
  right: 0;
  left: 0;
  top: 18%;
  border: solid black 2px;
  border-radius: 1.5vw;
  display: flex;
  flex-direction: column;
}

.aboutus-header {
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: 2vw;
  margin:auto;
  font-family: legofont;
  text-align: center;
}

.lego {
  border-radius: 1.5vw;
  width: 8vw;
}

.aboutus p {
  font-family: funwork2;
  font-size: 120%;
  padding-left: 5%;
}

/*********************************/
/* SET PAGE */
/*********************************/
.container-setpage{
  display:flex;
  justify-content:center;
  margin:auto;
  background-color: #79a3b9;
  width: 65vw;
  height: 30vw;
  align-items: center;
  border: solid 2px black;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 2vw;
  justify-content: space-evenly;
}
.setpic {
  border-radius: 2vw;
  border: solid 2px black;
  height: 20vw;
  width: 30vw;

}

.setinfo {
  width: 25vw;
  height: 25vw;
  border-radius: 2vw;
  border: solid 2px black;
  padding: 5px;
  background-color: #8fbbd2;

}

h4 {
  margin-top: 1vw;
  font-size: 1.5vw;
  font-family: funwork2;
  text-align: center;
  border-bottom: solid black 2px;
  margin-bottom: 6px;
  margin-top: 20px;
}

.setinfo p {
  margin:auto;
  font-size: 1vw;
  font-family: funwork2;
  padding-left: 1vw;
}



/*https://www.w3schools.com/howto/howto_css_fullscreen_search.asp*/
