/*include fonts used for links BYT FONT*/ 
@font-face {
  font-family: funwork2;
  src: url(../fonts/funwork-webfont.woff2);
}

/*include fon for header*/
@font-face {
  font-family: legofont;
  src: url(../fonts/lego_brix-webfont.woff);
}



/*********************************/
/* HEADER AND CONTENTS INSIDE IT */
/*********************************/

.header {
  display: table;
  overflow: hidden;
  background-color: #8fbbd2;
  padding: 0.5vw 0.5vw;
  border-bottom: solid 0.15vw black;
  position: relative;
  height: 8.5em;
}

/* header links */
.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 1vw;
  text-decoration: none;
  font-weight: bold;
  line-height: 1em;
  border-radius: 0.5vw;
  font-size: calc(1rem + 1vw);
  font-family: funwork2;
}

.logo{
  width: 3em;
  height: 3em;
  border: solid 0.07em black;
  border-radius: 1vw;
  float:left;
  padding:0;
  
}

#headerLogo {
  padding-top: 0.5%;
  padding-bottom: 0.8%;
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.header a.logo {
  font-size: cals(1rem + 1vw);
  font-weight: bold;
}


/* Float the link section to the right */
.headerRight {
  float: right;
  margin-right: 4.5em;
  display:flex;
  margin-top:2em;
}

#toggle-mode-button, .headerButton {
  cursor: pointer;
  float: left;
  background-color: #79a3b9;
  color: black;
  text-align: center;
  padding: 1vw;
  text-decoration: none;
  font-size: calc(1rem + 0.8vw);
  border-radius: 0.5vw;
  font-weight: bold;
  line-height: 1vw;
  border:solid 0.15vw black;
  font-family: funwork2;
}

#headerHelpLink:hover, #headerAboutUsLink:hover, #toggle-mode-button:hover, #headerLogo:hover, .part:hover, .set:hover, #prev:hover, #next:hover{
  background-color: rgb(189, 213, 226);
}

#headerHelpLink, #headerAboutUsLink{
  background-color: #79a3b9;
  border:solid 0.15vw black;
  font-size: calc(1rem + 0.7vw)
}

#headerHelpLink{
  margin-right: 1vw;
  display:flex;
  margin-left: 1vw;
}

/* Add media queries for responsiveness - when the screen is 400px wide or less, stack the links on top of each other */
@media screen and (max-width: 1400px) and (min-width: 1200px) {
  .header {
    height:8.8em;
  }
  .logo{
    width: 4.5em;
    height: 4.5em;
    border: solid 2px black;
  }
}

@media screen and (max-width: 1200px) and (min-width: 900px) {
  .header {
    height: 9em;
  }
  .logo{
    width: 5em;
    height: 5em;
    border: solid black 2px;
  }
}

@media screen and (max-width: 900px) and (min-width: 700px) {
  .header {
    height: 9em;
  }
  .logo{
    width: 7em;
    height: 7em;
    border: solid 2px black;
  }
}

@media screen and (max-width: 700px) and (min-width: 600px) {
  .header {
    height: 9.5em;
  }
  .logo{
    width: 9.5em;
    height: 9.5em;
    border: solid 2px black;
  }
}

@media screen and (max-width: 600px) and (min-width: 500px)  {
  .header {
    height: 9.5em;
  }
  .logo{
    width: 11em;
    height: 11em;
    border: solid 2px black;
  }
}

@media screen and (max-width: 500px){
  .header {
    height: 9em;
    display: grid;
  }
  .logo{
    width: 13.5em;
    height: 13.5em;
    border: solid 2px black;
    grid-column: 1;
  }
  .headerRight {
    margin-top: 3%;
    grid-column: 2;
    display:grid;
    margin-right: 2em;
  }
  #toggle-mode-button {
    grid-row: 3;
    height: 1.7em;
    margin-top: 5%;
    text-align: center;
  }
  #headerHelpLink {
    grid-row: 1;
  }
  #headerAboutUsLink {
    grid-row: 2;
    text-align: center;
  }
}

@media screen and (max-width: 400px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .headerRight {
    float: left;
  }
}

/*********************************/
/* The Modal */
/*********************************/
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* help box */
.modalContent {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1.5px solid rgb(0, 0, 0);
  border-radius: 1.5vw;
  width: 40vw; 
  font-family: funwork2;

}

#helpHeader {
  background-color: #8fbbd2;
  width: 40vw;
  height: 5vw;
  display: flex;
  justify-content: center;
  text-align: center;
  margin:auto;
  margin-top: 1vw;
  margin-bottom: 1.5vw;
  border: solid black 2px;
  border-radius: 1.5vw;
}

/* style pop up help box text*/
#modalHelpBox {
  text-align: center;
  font-size: 3vw;
  font-family: funwork2;
}


.close {
  color: rgb(0, 0, 0);
  float: right;
  font-size: 28px;
  font-weight: bold;
  font-family: funwork2;
}

.close:hover, .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/*********************************/
/* FOOTER AND CONTENTS INSIDE IT */
/*********************************/

.footer{
    margin-top: auto;
    background-color: #8fbbd2;
    padding: 1em 0.5em;
    border-top: solid 0.15vw black;
    margin-bottom: 0;
    overflow:auto;
  }
  
  #pFoot{
    text-align: left;
    padding: 0.5vw 0.5vw;
    font-family: funwork2;
    font-size: calc(0.5rem + 0.6vw);
  }

/*********************************/
/* MAIN PAGE */
/*********************************/

body{
  margin: 0px;
  display:flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url(../bilder/lego_background.jpg);
  background-repeat: repeat;
}

.legoText {
  display: flex;
  justify-content: center;
}

#mainHeader{
  text-align:center;
  text-shadow: 2px 2px rgb(255, 255, 255) ;
  font-size: calc(1.2rem + 2.5vw);
  font-family: legofont;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-bottom: 1vw;
}

input[type=text] {
  margin-left:30vw;
  padding: 15px;
  font-size: 2vw;
  border: none;
  width: 35%;
  background: white;
  float:left;
}

input[type=text]:hover {
  background: #d4d4d4;
}

#searchContainer {
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 6%;
}

/* Style the submit button */
.button{
  width: 35%;
  height: 3.2em;
  background: #ddd;
  font-size: calc(0.3rem + 0.5vw);
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  font-family: funwork2;
  border: none;
  font-weight: bold;
}

#submitButton {
  border-top: 0.05em solid black;
  border-bottom: 0.05em solid black;
}

/* questionmark button */
#helpButton {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.05em solid black;
}

/* style when hovering over button beside search bar */
.button:hover{
  background: rgb(189, 213, 226);
}

.indexSearchForm{
  display:flex;
  margin-bottom: 0.05vw;
  width: 75%;
  margin-right: 0%;
}

.searchForm{
  display:flex;
  margin-bottom: 1vw;
  margin-right: 0%;
  box-shadow: 0.5vw 0.5vw 0.1vw 0.05vw rgba(0, 0, 0, 0.2);
}
/* style searchbar */
#search {
  width: 100%;
  height: 3.2em;
  font-family: funwork2;
  font-size: calc(0.3rem + 0.5vw);
  border: 0.05em solid black;
}

@media screen and (max-width: 1400px) and (min-width: 1200px) {
  #search {
    height: 210%;
  }
  .button {
    width: 30%;
    height: 210%;
  }
}

@media screen and (max-width: 1200px) and (min-width: 900px) {
  #search {
    height: 210%;
  }
  .button {
    width: 30%;
    height: 210%;
  }
}

@media screen and (max-width: 900px) and (min-width: 700px) {
  #search {
    height: 210%;
  }
  .button {
    width: 30%;
    height: 210%;
  }
}

@media screen and (max-width: 700px) and (min-width: 600px) {
  #search {
    height: 210%;
  }
  .button {
    height: 210%;
    width: 28%;
  }
}

@media screen and (max-width: 600px) and (min-width: 500px)  {
  #search {
    height: 220%;
  }
  .button {
    height: 220%;
    width: 25%;
  }
}

@media screen and (max-width: 500px){
  #search {
    width: 70%;
    height: 230%;
  }
  .button {
    width: 23%;
    height: 230%;
  }
  #searchContainer {
    margin-top: 8%;
  }
  .indexSearchForm {
    width: 75%;
  }
}


/*********************************/
/* searchBackgroundBox */
/*********************************/
.searchBackgroundBox {
  background-color:#8fbbd2;
  /*display: flex;*/
  justify-content: center;
  align-items: center;
  width: 36%;
  height: 21.5em;
  border: solid 0.15vw black;
  border-radius: 1.5vw;
  margin: auto;
  margin-top: 8%;
  box-shadow: 0.5vw 0.5vw 0.1vw 0.05vw rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 1400px) and (min-width: 1200px) {
  .searchBackgroundBox {
    width: 38%;
    height: 18em;
    margin-top: 10em;
  }
}

@media screen and (max-width: 1200px) and (min-width: 900px) {
  .searchBackgroundBox {
    width: 40%;
    height: 15em;
    margin-top: 8em;
  }
  
}

@media screen and (max-width: 900px) and (min-width: 700px) {
  .searchBackgroundBox {
    width: 44%;
    height: 13em;
    margin-top: 13em;
  }
}

@media screen and (max-width: 700px) and (min-width: 600px){
  .searchBackgroundBox {
    width: 49%;
    height: 11em;
    margin-top: 13em;
  }
}

@media screen and (max-width: 600px) and (min-width: 500px){
  .searchBackgroundBox {
    width: 53%;
    height: 10em;
    margin-top: 10em;
  }
}

@media screen and (max-width: 500px){
  .searchBackgroundBox {
    width: 65%;
    height: 9em;
    margin-top: 8em;
  }
}

/*********************************/
/* HELP PAGE */
/*********************************/

#helpHeader {
  background-color: #8fbbd2;
  width: 30%;
  height: 5vw;
  display: flex;
  margin:auto;
  margin-top: 4%;
  margin-bottom: 4%;
  border: solid black 0.15vw;
  border-radius: 1.5vw;
  display: flex;
  flex-direction: column;
  font-family: legofont;
  font-size: calc(1rem + 1.5vw);
  box-shadow: 0.5vw 0.5vw 0.1vw 0.05vw rgba(0, 0, 0, 0.2);
}

.helpBox{
  box-sizing: border-box;
  background-color: #8fbbd2;
  border-radius: 2vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 67%;
  height: 7em;
  align-items: center;
  margin: auto;
  margin-bottom: 3.5%;
  border: solid 0.15vw black;
  font-size: calc(0.5rem + 1.3vw);
  box-shadow: 0.5vw 0.5vw 0.1vw 0.05vw rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 1400px) and (min-width: 1200px) {
  .helpBox {
    width: 69%;
    height: 6em;
  }
  .helpPic {
    width: 25%;
    height: 5em;
  }
}

@media screen and (max-width: 1200px) and (min-width: 900px) {
  .helpBox {
    width: 71%;
    height: 5.8em;
  }
  #helpHeader {
    width: 36%;
    height: 2.1em;
  }
  .helpPic {
    width: 26%;
    height: 5em;
  }
}

@media screen and (max-width: 900px) and (min-width: 700px) {
  .helpBox {
    width: 73%;
    height: 6em;
  }
  #helpHeader {
    width: 38%;
    height: 2.2em;
  }
  .helpPic {
    width: 26%;
    height: 5em;
  }
}

@media screen and (max-width: 700px) and (min-width: 600px){
  .helpBox {
    width: 75%;
    height: 6.5em;
  }
  #helpHeader {
    width: 41%;
    height: 2em;
  }
  .helpPic {
    width: 26%;
    height: 4.9em;
  }
}

@media screen and (max-width: 600px) and (min-width: 500px){
  .helpBox {
    width: 77%;
    height: 7.2em;
  }
  #helpHeader {
    width: 46%;
    height: 2em;
  }
  .helpPic {
    width: 26%;
    height: 4.9em;
  }
}

@media screen and (max-width: 500px){
  .helpBox {
    width: 70%;
    height: 6em;
  }
  #helpHeader {
    width: 55%;
    height: 2em;
  }
  .helpPic {
    width: 30%;
    height: 4.5em;
  }
}

.helpPic {
  box-sizing: border-box;
  border-radius: 2vw;
  margin: 0.2vw;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 2%;
  width: 25%;
  height: 5.8em;
  border: solid 0.15vw black;
  box-shadow: 0.5vw 0.5vw 0.1vw 0.05vw rgba(0, 0, 0, 0.2);
}

.helpList{
  box-sizing: border-box;
  flex-basis: 80%;
  text-align: center;
  font-family: funwork2;
}

/*********************************/
/* SEARCH PAGE */
/*********************************/
.error {
  background-color: #8fbbd2;
  justify-content: center;
  align-items: center;
  width: 50vw;
  height: 25vw;
  border: solid 0.15vw black;
  border-radius: 1.5vw;
  margin: auto;
  margin-top: 7vw;
  box-shadow: 0.5vw 0.5vw 0.1vw 0.05vw rgba(0, 0, 0, 0.2);
}

.headerError {
  text-align: center;
  font-family: funwork2;
  font-size: 5vw;
}

.pError {
  font-size: 3vw;
  text-align: center;
  font-family: funwork2;
}

.searchContainer{
  display: flex;
  justify-content: center;
  padding-top: 1vw;
  margin-top: 2%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


@media screen and (max-width: 500px){
  .searchContainer {
    margin-bottom: 2%;
  }
}

#searchButton {
  width: 30%;
  height: 3em;
  border-right: solid 0.05em black;
  border-bottom: solid 0.05em black;
  border-top: solid 0.05em black;
  font-size: calc(0.3rem + 0.5vw);
  font-weight: bold;
}

.search {
  font-family: funwork2;
  border: solid 0.05em black;
  width: 30em;
}

a:link, a:hover, a:visited {
  font-family: funwork2;
  font-size: 2vw;
  margin: auto;
  display: block; 
  justify-content: center;
  text-decoration: none;
  color: black;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#partInfo, #setName{
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
  padding: 1vw;
}

#legoPartPic, #setImg{
  width: 12%;
  border: solid 1px black;
  height: 6vw;
  border-radius: 1vw;
  margin-left: 2%;
  box-shadow: 0.5vw 0.5vw 0.1vw 0.05vw rgba(0, 0, 0, 0.2);
}

.set p, .part p{
  margin-right: 1vw;
}

.part, .set {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 4vw;
  flex-basis: 70%;
  height: 4em;
  background-color:#8fbbd2;
  flex-grow: 0;
  flex-shrink: 0;
  border: solid 0.15vw black;
  border-radius: 1.5vw;
  width: 35em;
  text-align: center;
  margin: 1.5vw;
  box-shadow: 0.5vw 0.5vw 0.1vw 0.05vw rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 1400px) and (min-width: 1200px) {
  .part, .set {
    width: 39em;
    height: 4em;
  }
  #legoPartPic, #setImg {
    width: 11%;
    height: 3.4em;
  }
}

@media screen and (max-width: 1200px) and (min-width: 900px) {
  .part, .set {
    width: 39em;
    height: 5.2em;
  }
  #legoPartPic, #setImg {
    width: 14%;
    height: 3.8em;
  }
}

@media screen and (max-width: 900px) and (min-width: 700px) {
  .part, .set {
    width: 40em;
    height: 6em;
  }
  #legoPartPic, #setImg {
    width: 14%;
    height: 4.2em;
  }
}

@media screen and (max-width: 700px) and (min-width: 600px){
  .part, .set {
    width: 42em;
    height: 6.8em;
  }
  #legoPartPic, #setImg {
    width: 15%;
    height: 5.3em;
  }
}

@media screen and (max-width: 600px) and (min-width: 500px){
  .part, .set {
    width: 44em;
    height: 7.8em;
  }
  #legoPartPic, #setImg {
    width: 16%;
    height: 5.8em;
  }
}

@media screen and (max-width: 500px){
  .part, .set{
    width: 45em;
    height: 8em;
    margin-top: 3%;
  }
  #legoPartPic, #setImg {
    width: 17%;
    height: 6em;
  }
}

#pagination{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
  padding: 2vw;
}

#prev{
  margin-right: 100px;
}

#prev, #next{
  background-color: #8fbbd2;
  border-radius: 1vw;
  border: solid 0.15vw black;
  display:flex;
  width: 7vw;
  box-shadow: 0.5vw 0.5vw 0.1vw 0.05vw rgb(0 0 0 / 20%)
}

/*********************************/
/* ABOUT US */
/*********************************/

.aboutUsBox {
background-color: #8fbbd2;
border-radius: 2vw;
display: flex;
flex-direction: row;
width: 55vw;
height: 10vw;
align-items: center;
margin: auto;
margin-bottom: 3vw;
border: solid 0.15vw black;
font-size: 1.2vw;
box-shadow: 0.5vw 0.5vw 0.1vw 0.05vw rgba(0, 0, 0, 0.2);
}

.legoMan {
  border-radius: 2vw;
  margin: 0.2vw;
  margin-top: 1vw;
  margin-bottom: 1vw;
  width: 8vw;
  border: solid black 0.15vw;
  margin-left: 0.5vw;
}

h3{
  text-align: center;
  font-family: funwork2;
}

.text-aboutus {
  display: flex;
  flex-direction: row;
}

.name,.personalInfo {
  font-family: funwork2;
  justify-content: space-around;
  margin-left: 13vw;
}


.containerHeader {
  background-color: #8fbbd2;
  width: 30vw;
  height: 5vw;
  display: flex;
  margin:auto;
  margin-top: 3vw;
  margin-bottom: 3vw;
  border: solid black 0.15vw;
  border-radius: 1.5vw;
  display: flex;
  flex-direction: column;
  font-family: legofont;
  font-size: 2vw;
  box-shadow: 0.5vw 0.5vw 0.1vw 0.05vw rgba(0, 0, 0, 0.2);
}

.aboutUsHeader {
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: 2vw;
  margin: auto;
  font-family: legofont;
  text-align: center;
}

.aboutus p {
  font-family: funwork2;
  font-size: 120%;
  padding-left: 5%;
}

@media screen and (max-width: 1400px) and (min-width: 1200px) {
  .aboutUsBox {
    font-size: 2vw;
    width: 80vw;
    height: 15vw;
  }
  .legoMan {
  width: 12vw;
  }
  .containerHeader {
  width: 35vw;
  height: 5vw;
  }
}

@media screen and (max-width: 1200px) and (min-width: 900px) {
  .aboutUsBox {
    font-size: 2vw;
    width: 77vw;
    height: 15vw;
  }
  .legoMan {
  width: 12vw;
  }
  .containerHeader {
  width: 35vw;
  height: 5vw;
  }
}

@media screen and (max-width: 900px) and (min-width: 700px) {
  .aboutUsBox {
    font-size: 2vw;
    width: 75vw;
    height: 13vw;
    margin-top: 5vw;
  }
  .legoMan {
    width: 10.5vw;
  }
  .containerHeader {
    width: 35vw;
    height: 5vw;
  }
}

@media screen and (max-width: 700px) and (min-width: 600px) {
  .aboutUsBox {
    font-size: 2vw;
    width: 75vw;
    height: 15vw;
    margin-top: 5vw;
  }
.legoMan {
  width: 12vw;
}
.containerHeader {
  width: 38vw;
  height: 7vw;
}
}

@media screen and (max-width: 600px) and (min-width: 500px){
  .aboutUsBox {
    font-size: 2vw;
    width: 75vw;
    height: 15vw;
    margin-top: 5vw;
  }
  .legoMan {
    width: 12vw;
  }
  .containerHeader {
    width: 40vw;
    height: 8vw;
  }
  }

@media screen and (max-width: 500px){
  .aboutUsBox {
    font-size: 2vw;
    width: 80vw;
    height: 15vw;
    margin-top: 5vw;
  }
  .legoMan {
    width: 12vw;
  }
}


/*********************************/
/* SET PAGE */
/*********************************/
.setPageBackground{
  display:flex;
  justify-content:center;
  background-color: #79a3b9;
  width: 65%;
  height: 32em;
  align-items: center;
  border: solid 0.15vw black;
  box-shadow: 0.5vw 0.5vw 0.1vw 0.05vw rgba(0, 0, 0, 0.2);
  border-radius: 2vw;
  justify-content: space-evenly;
}

#setPageContainer{
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 2vw;
}

#setPic {
  border-radius: 2vw;
  border: solid 0.15vw black;
  height: 21em;
  width: 100%;
  box-shadow: 0.5vw 0.5vw 0.1vw 0.05vw rgba(0, 0, 0, 0.2);
}

#setInfo {
  width: 30%;
  height: 21em;
  float: left;
  border-radius: 2vw;
  border: solid 2px black;
  padding: 5px;
  background-color: #8fbbd2;
  box-shadow: 0.5vw 0.5vw 0.1vw 0.05vw rgba(0, 0, 0, 0.2);
}

h4 {
  margin-top: 1vw;
  font-size: 1.5vw;
  font-family: funwork2;
  text-align: center;
  border-bottom: solid black 2px;
  margin-bottom: 6px;
  margin-top: 20px;
}

#setInfo p {
  margin:auto;
  font-size: calc(0.25rem + 1vw);
  font-family: funwork2;
  padding-left: 1vw;
  box-shadow: rgb(17 17 26 / 10%) 0px 1px 0px;
  overflow:auto;
}

@media screen and (max-width: 1600px) and (min-width: 1400px) {
  .setPageBackground {
    width: 67%;
    height: 28.5em;
    margin-top: 3%;
  }
  #setPic {
  height: 20em;
  width: 105%;
  }
  #setInfo {
    width: 31%;
    height: 20em;
  }
}

@media screen and (max-width: 1400px) and (min-width: 1200px) {
  .setPageBackground {
    width: 70%;
    height: 27em;
    margin-top: 4.5%;
  }
  #setPic {
    height: 20em;
    width: 100%;
  }
  #setInfo {
    width: 31%;
    height: 20em;
  }
}

@media screen and (max-width: 1200px) and (min-width: 900px) {
  .setPageBackground {
    width: 75%;
    height: 25em;
    margin-top: 5%;
  }
  #setPic {
    height: 19em;
    width: 95%;
  }
  #setInfo {
    width: 30%;
    height: 19em;
  }
}

@media screen and (max-width: 900px) and (min-width: 700px) {
  .setPageBackground {
    width: 79%;
    height: 24em;
    margin-top: 5%;
  }
  #setPic {
    height: 17em;
    width: 85%;
  }
  #setInfo {
    width: 27%;
    height: 16em;
  }

}

@media screen and (max-width: 700px) and (min-width: 600px){
  .setPageBackground {
    width: 80%;
    height: 33em;
    margin-top: 6%;
    display: grid;
  }
  #setPic {
    height: 15em;
    width: 120%;
    grid-row: 1
;
  }
  #setInfo {
    width: 140%;
    height:12em;
    grid-row: 2;
  }
}

@media screen and (max-width: 600px) and (min-width: 500px){
  .setPageBackground {
    width: 80%;
    height: 35em;
    margin-top: 6%;
    display: grid;
  }
  #setPic {
    height: 15em;
    width: 120%;
    grid-row: 1 / 2;
  }
  #setInfo {
    width: 140%;
    height:12em;
    grid-row: 2;
    text-align: center;
  }
}

@media screen and (max-width: 500px){
  .setPageBackground {
    width: 80%;
    height: 35em;
    margin-top: 7%;
    display: grid;
  }
  #setPic {
    height: 15em;
    width: 120%;
    grid-row: 1 / 2;
  }
  #setInfo {
    width: 140%;
    height:12em;
    grid-row: 2;
    text-align: center;
  }
}

/*********************************/
/* DARK/LIGHT MODE AND CONTENTS INSIDE IT */
/*********************************/

/**** MAIN PAGE DARK ****/
.dark-mode #toggle-mode-button, .dark-mode .headerButton {
  background-color: #ccc0ff;;
}

.dark-mode #headerHelpLink, .dark-mode #headerAboutUsLink, .dark-mode #prev, .dark-mode #next {
  background-color: #ccc0ff;
}

.dark-mode .button:hover, .dark-mode #headerHelpLink:hover, .dark-mode #headerAboutUsLink:hover, .dark-mode #toggle-mode-button:hover, .dark-mode #headerLogo:hover, .dark-mode .part:hover, .dark-mode .set:hover, .dark-mode #prev:hover, .dark-mode #next:hover{
  background-color: #817ec7;
}

body.dark-mode {
  background-image: url(../bilder/lego_background_dark.jpg);
  background-repeat: repeat;
}

.dark-mode .header, .dark-mode .footer, .dark-mode .setPageBackground{
  background-color: #544aaf;
}

.dark-mode .aboutusbutton, .dark-mode .helpButton {
  background-color: #ccc0ff;;
}

.dark-mode #helpHeader, .dark-mode #setInfo, .dark-mode .aboutus, .dark-mode .containerHeader, .dark-mode .searchBackgroundBox, .dark-mode .helpBox,.dark-mode .part, .dark-mode .set, .dark-mode .error{
  background-color: #ccc0ff;
}

.dark-mode .aboutUsBox{
  background-color: #ccc0ff;
}

/*https://www.w3schools.com/howto/howto_css_fullscreen_search.asp*/
