/*include fonts used for links BYT FONT*/ 
@font-face {
  font-family: funwork2;
  src: url(../fonts/funwork-webfont.woff2);
}

/*include fon for header*/
@font-face {
  font-family: legofont;
  src: url(../fonts/lego_brix-webfont.woff);
}



/*********************************/
/* HEADER AND CONTENTS INSIDE IT */
/*********************************/

.header {
  overflow: hidden;
  background-color: #8fbbd2;
  padding: 0.5vw 0.5vw;
  border-bottom: solid 0.15vw black;
  position: relative;
}

/* header links */
.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 1vw;
  text-decoration: none;
  font-size: 2vw;
  font-weight: bold;
  line-height: 25px;
  border-radius: 0.5vw;
  font-size: 1.8vw;
  font-family: funwork2;
}

.logo{
  width: 6vw;
  height: 6vw;
  border: solid 0.15vw black;
  border-radius: 1vw;
  float:right;
  padding:0;
}

#headerLogo {
  padding-top: 0.5vw;
  padding-bottom: 0.5vw;
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.header a.logo {
  font-size: 25px;
  font-weight: bold;
}


/* Float the link section to the right */
.header-right {
  position: block;
  float: right;
  margin-right: 4.5vw;
  margin-top: 1.8vw;
  display:flex;
  justify-content: space-between;
}

#toggle-mode-button, .headerButton {
  cursor: pointer;
  float: left;
  background-color: #79a3b9;
  color: black;
  text-align: center;
  padding: 1vw;
  text-decoration: none;
  font-size: 2vw;
  border-radius: 0.5vw;
  font-weight: bold;
  line-height: 1vw;
  border:solid 0.15vw black;
  font-size: 1.8vw;
  font-family: funwork2;
}

#headerHelpLink:hover, #headerAboutUsLink:hover, #toggle-mode-button:hover, #headerLogo:hover, .part:hover, .set:hover, #prev:hover, #next:hover{
  background-color: rgb(189, 213, 226);
}

#headerHelpLink, #headerAboutUsLink{
  background-color: #79a3b9;
  border:solid 0.15vw black;
}

#headerHelpLink{
  margin-right: 1vw;
  display:flex;
  margin-left: 1vw;
}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}

/*********************************/
/* The Modal */
/*********************************/
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* help box */
.modalContent {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1.5px solid rgb(0, 0, 0);
  border-radius: 1.5vw;
  width: 40vw; 
  font-family: funwork2;

}

#helpHeader {
  background-color: #8fbbd2;
  width: 40vw;
  height: 4,7vw;
  display: flex;
  justify-content: center;
  text-align: center;
  margin:auto;
  margin-top: 1vw;
  margin-bottom: 1.5vw;
  border: solid black 2px;
  border-radius: 1.5vw;
}

/* style pop up help box text*/
#modalHelpBox {
  text-align: center;
  font-size: 3vw;
  font-family: funwork2;
}


.close {
  color: rgb(0, 0, 0);
  float: right;
  font-size: 28px;
  font-weight: bold;
  font-family: funwork2;
}

.close:hover, .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/*********************************/
/* FOOTER AND CONTENTS INSIDE IT */
/*********************************/

.footer{
    margin-top: auto;
    background-color: #8fbbd2;
    padding: 1em 0.5em;
    border-top: solid 0.15vw black;
    margin-bottom: 0;
    overflow:auto;
  }
  
  #pFoot{
    text-align: left;
    padding: 0.5vw 0.5vw;
    font-family: funwork2;
    font-size: calc(0.5rem + 0.6vw);
  }

/*********************************/
/* MAIN PAGE */
/*********************************/

body{
  margin: 0px;
  display:flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url(../bilder/lego_background.jpg);
  background-repeat: repeat;
}

.legoText {
  display: flex;
  justify-content: center;
}

#mainHeader{
  text-align:center;
  text-shadow: 2px 2px rgb(255, 255, 255) ;
  font-size: calc(1.2rem + 2.5vw);
  font-family: legofont;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-bottom: 1vw;
}

input[type=text] {
  margin-left:30vw;
  padding: 15px;
  font-size: 2vw;
  border: none;
  width: 35%;
  background: white;
  float:left;
}

input[type=text]:hover {
  background: #d4d4d4;
}

#searchContainer {
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 11%;
}

@media screen and (max-width: 500px){
  #searchContainer {
    margin-top: 8%;
  }
}

/* Style the submit button */
.button{
  width: 35%;
  height: 3.2em;
  background: #ddd;
  font-size: calc(0.3rem + 0.5vw);
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  font-family: funwork2;
  border: none;
  font-weight: bold;
}

@media screen and (max-width: 1400px) and (min-width: 1200px) {
  .button {
    width: 30%;
    height: 210%;
  }
}

@media screen and (max-width: 1200px) and (min-width: 900px) {
  .button {
    width: 30%;
    height: 210%;
  }
}

@media screen and (max-width: 900px) and (min-width: 700px) {
  .button {
    width: 30%;
    height: 210%;
  }
}

@media screen and (max-width: 700px) and (min-width: 600px) {
  .button {
    height: 210%;
    width: 28%;
  }
}

@media screen and (max-width: 600px) and (min-width: 500px){
  .button {
    height: 220%;
    width: 25%;
  }
}

@media screen and (max-width: 500px){
  .button {
    width: 23%;
    height: 230%;
  }
}

#submitButton {
  border-top: 0.05em solid black;
  border-bottom: 0.05em solid black;
}

/* questionmark button */
#helpButton {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.05em solid black;
}

/* style when hovering over button beside search bar */
.button:hover{
  background: rgb(189, 213, 226);
}

.searchForm{
  display:flex;
  margin-bottom: 0.05vw;
  width: 75%;
}

@media screen and (max-width: 500px){
  .searchForm {
    width: 75%;
  }
}

/* style searchbar */
#search {
  width: 100%;
  height: 3.2em;
  font-family: funwork2;
  font-size: calc(0.3rem + 0.5vw);
  border: 0.05em solid black;
}

@media screen and (max-width: 1400px) and (min-width: 1200px) {
  #search {
    height: 210%;
  }
}

@media screen and (max-width: 1200px) and (min-width: 900px) {
  #search {
    height: 210%;
  }
}

@media screen and (max-width: 900px) and (min-width: 700px) {
  #search {
    height: 210%;
  }
}

@media screen and (max-width: 700px) and (min-width: 600px) {
  #search {
    height: 210%;
  }
}

@media screen and (max-width: 600px) and (min-width: 500px)  {
  #search {
    height: 220%;
  }
}

@media screen and (max-width: 500px){
  #search {
    width: 70%;
    height: 230%;
  }
}


/*********************************/
/* searchBackgroundBox */
/*********************************/
.searchBackgroundBox {
  background-color:#8fbbd2;
  /*display: flex;*/
  justify-content: center;
  align-items: center;
  width: 36%;
  height: 21.5em;
  border: solid 0.15vw black;
  border-radius: 1.5vw;
  margin: auto;
  margin-top: 8%;
  box-shadow: 0.5vw 0.5vw 0.1vw 0.05vw rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 1400px) and (min-width: 1200px) {
  .searchBackgroundBox {
    width: 38%;
    height: 18em;
    margin-top: 10em;
  }
}

@media screen and (max-width: 1200px) and (min-width: 900px) {
  .searchBackgroundBox {
    width: 40%;
    height: 15em;
    margin-top: 13em;
  }
}

@media screen and (max-width: 900px) and (min-width: 700px) {
  .searchBackgroundBox {
    width: 44%;
    height: 13em;
    margin-top: 13em;
  }
}

@media screen and (max-width: 700px) and (min-width: 600px){
  .searchBackgroundBox {
    width: 49%;
    height: 11em;
    margin-top: 13em;
  }
}

@media screen and (max-width: 600px) and (min-width: 500px){
  .searchBackgroundBox {
    width: 53%;
    height: 10em;
    margin-top: 12em;
  }
}

@media screen and (max-width: 500px){
  .searchBackgroundBox {
    width: 65%;
    height: 9em;
    margin-top: 8.5em;
  }
}

/*********************************/
/* HELP PAGE */
/*********************************/

#helpHeader {
  background-color: #8fbbd2;
  width: 30%;
  height: 5vw;
  display: flex;
  margin:auto;
  margin-top: 4%;
  margin-bottom: 4%;
  border: solid black 0.15vw;
  border-radius: 1.5vw;
  display: flex;
  flex-direction: column;
  font-family: legofont;
  font-size: calc(1rem + 1.5vw);
  box-shadow: 0.5vw 0.5vw 0.1vw 0.05vw rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 1200px) and (min-width: 900px){
  #helpHeader {
    width: 36%;
    height: 2.1em;
  }
}

@media screen and (max-width: 900px) and (min-width: 700px){
  #helpHeader {
    width: 38%;
    height: 2.2em;
  }
}

@media screen and (max-width: 700px) and (min-width: 600px) {
  #helpHeader {
    width: 41%;
    height: 2em;
  }
}

@media screen and (max-width: 600px) and (min-width: 500px) {
  #helpHeader {
    width: 46%;
    height: 2em;
  }
}

@media screen and (max-width: 500px){
  #helpHeader {
    width: 55%;
    height: 2em;
  }
}

.helpBox{
  box-sizing: border-box;
  background-color: #8fbbd2;
  border-radius: 2vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 67%;
  height: 7em;
  align-items: center;
  margin: auto;
  margin-bottom: 3.5%;
  border: solid 0.15vw black;
  font-size: calc(0.5rem + 1.3vw);
  box-shadow: 0.5vw 0.5vw 0.1vw 0.05vw rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 1400px) and (min-width: 1200px) {
  .helpBox {
    width: 69%;
    height: 6em;
  }
}

@media screen and (max-width: 1200px) and (min-width: 900px) {
  .helpBox {
    width: 71%;
    height: 5.8em;
  }
}

@media screen and (max-width: 900px) and (min-width: 700px) {
  .helpBox {
    width: 73%;
    height: 6em;
  }
}

@media screen and (max-width: 700px) and (min-width: 600px){
  .helpBox {
    width: 75%;
    height: 6.5em;
  }
}

@media screen and (max-width: 600px) and (min-width: 500px){
  .helpBox {
    width: 77%;
    height: 7.2em;
  }
}

@media screen and (max-width: 500px){
  .helpBox {
    width: 70%;
    height: 6em;
  }
}

.helpPic {
  box-sizing: border-box;
  border-radius: 2vw;
  margin: 0.2vw;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 2%;
  width: 25%;
  height: 5.8em;
  border: solid 0.15vw black;
  box-shadow: 0.5vw 0.5vw 0.1vw 0.05vw rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 1400px) and (min-width: 1200px) {
  .helpPic {
    width: 25%;
    height: 5em;
  }
}

@media screen and (max-width: 1200px) and (min-width: 900px) {
  .helpPic {
    width: 26%;
    height: 5em;
  }
}

@media screen and (max-width: 900px) and (min-width: 700px) {
  .helpPic {
    width: 26%;
    height: 5em;
  }
}

@media screen and (max-width: 700px) and (min-width: 600px){
  .helpPic {
    width: 26%;
    height: 4.9em;
  }
}

@media screen and (max-width: 600px) and (min-width: 500px){
  .helpPic {
    width: 26%;
    height: 4.9em;
  }
}

@media screen and (max-width: 500px){
  .helpPic {
    width: 30%;
    height: 4.5em;
  }
}

.helpList{
  box-sizing: border-box;
  flex-basis: 80%;
  text-align: center;
  font-family: funwork2;
}

/*********************************/
/* SEARCH PAGE */
/*********************************/
.error {
  background-color: #8fbbd2;
  justify-content: center;
  align-items: center;
  width: 50vw;
  height: 25vw;
  border: solid 0.15vw black;
  border-radius: 1.5vw;
  margin: auto;
  margin-top: 7vw;
  box-shadow: 0.5vw 0.5vw 0.1vw 0.05vw rgba(0, 0, 0, 0.2);
}

.headerError {
  text-align: center;
  font-family: funwork2;
  font-size: 5vw;
}

.pError {
  font-size: 3vw;
  text-align: center;
  font-family: funwork2;
}

.searchContainer{
  display: flex;
  justify-content: center;
  padding-top: 1vw;
}

.search {
  font-family: funwork2;
  
}

a:link, a:hover, a:visited {
  font-family: funwork2;
  font-size: 2vw;
  margin: auto;
  display: block; 
  justify-content: center;
  text-decoration: none;
  color: black;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
#partInfo, #setName{
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
  padding: 1vw;
}

#legoPartPic, #setImg{

  width: 8vw;
  border: solid 1px black;
  height: 6vw;
  border-radius: 1vw;
  margin-left: 1vw;
}

.set p, .part p{
  margin-right: 1vw;
}

.part, .set {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 4vw;
  flex-basis: 70%;
  height: 7.5vw;
  background-color:#8fbbd2;
  flex-grow: 0;
  flex-shrink: 0;
  border: solid 0.15vw black;
  border-radius: 1.5vw;
  width: 65vw;
  text-align: center;
  margin: 1.5vw;
  box-shadow: 0.5vw 0.5vw 0.1vw 0.05vw rgba(0, 0, 0, 0.2);
}

#pagination{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
  padding: 2vw;

}

#prev{
  margin-right: 100px;
}

#prev, #next{
  background-color: #79a3b9;
  border-radius: 1vw;
  border: solid 0.15vw black;
  display:flex;
  width: 7vw;
  box-shadow: 0.5vw 0.5vw 0.1vw 0.05vw rgb(0 0 0 / 20%)
}

/*********************************/
/* ABOUT US */
/*********************************/

.aboutUsBox {
background-color: #8fbbd2;
border-radius: 2vw;
display: flex;
flex-direction: row;
width: 55vw;
height: 10vw;
align-items: center;
margin: auto;
margin-bottom: 3vw;
border: solid 0.15vw black;
font-size: 1.2vw;
box-shadow: 0.5vw 0.5vw 0.1vw 0.05vw rgba(0, 0, 0, 0.2);
}

.legoMan {
  border-radius: 2vw;
  margin: 0.2vw;
  margin-top: 1vw;
  margin-bottom: 1vw;
  width: 8vw;
  border: solid black 0.15vw;
  margin-left: 0.5vw;
}

h3{
  text-align: center;
  font-family: funwork2;
}

.text-aboutus {
  display: flex;
  flex-direction: row;
}

.name,.personalInfo {
  font-family: funwork2;
  justify-content: space-around;
  margin-left: 13vw;
}


.containerHeader {
  background-color: #8fbbd2;
  width: 30vw;
  height: 5vw;
  display: flex;
  margin:auto;
  margin-top: 3vw;
  margin-bottom: 3vw;
  border: solid black 0.15vw;
  border-radius: 1.5vw;
  display: flex;
  flex-direction: column;
  font-family: legofont;
  font-size: 2vw;
  box-shadow: 0.5vw 0.5vw 0.1vw 0.05vw rgba(0, 0, 0, 0.2);
}

.aboutus-header {
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: 2vw;
  margin:auto;
  font-family: legofont;
  text-align: center;
}

.aboutus p {
  font-family: funwork2;
  font-size: 120%;
  padding-left: 5%;
}

/*********************************/
/* SET PAGE */
/*********************************/
.setPageBackground{
  display:flex;
  justify-content:center;
  background-color: #79a3b9;
  width: 65vw;
  height: 30vw;
  align-items: center;
  border: solid 0.15vw black;
  box-shadow: 0.5vw 0.5vw 0.1vw 0.05vw rgba(0, 0, 0, 0.2);
  border-radius: 2vw;
  justify-content: space-evenly;
}

#setPageContainer{
  width:100%;
  display: flex;
  justify-content: center;
  padding-top: 2vw;
}

#setPic {
  border-radius: 2vw;
  border: solid 0.15vw black;
  height: 20vw;
  width: 30vw;
  box-shadow: 0.5vw 0.5vw 0.1vw 0.05vw rgba(0, 0, 0, 0.2);
}

#setInfo {
  width: 20vw;
  height: 20vw;
  float: left;
  border-radius: 2vw;
  border: solid 2px black;
  padding: 5px;
  background-color: #8fbbd2;
  box-shadow: 0.5vw 0.5vw 0.1vw 0.05vw rgba(0, 0, 0, 0.2);
}

h4 {
  margin-top: 1vw;
  font-size: 1.5vw;
  font-family: funwork2;
  text-align: center;
  border-bottom: solid black 2px;
  margin-bottom: 6px;
  margin-top: 20px;
}

#setInfo p {
  margin:auto;
  font-size: 1.5vw;
  font-family: funwork2;
  padding-left: 1vw;
  box-shadow: rgb(17 17 26 / 10%) 0px 1px 0px;
}


/*********************************/
/* DARK/LIGHT MODE AND CONTENTS INSIDE IT */
/*********************************/

/**** MAIN PAGE DARK ****/
.dark-mode #toggle-mode-button, .dark-mode .headerButton {
  background-color: #ccc0ff;;
}

.dark-mode #headerHelpLink, .dark-mode #headerAboutUsLink, .dark-mode #prev, .dark-mode #next {
  background-color: #ccc0ff;
}

.dark-mode .button:hover, .dark-mode #headerHelpLink:hover, .dark-mode #headerAboutUsLink:hover, .dark-mode #toggle-mode-button:hover, .dark-mode #headerLogo:hover, .dark-mode .part:hover, .dark-mode .set:hover, .dark-mode #prev:hover, .dark-mode #next:hover{
  background-color: #817ec7;
}

body.dark-mode {
  background-image: url(../bilder/lego_background_dark.jpg);
  background-repeat: repeat;
}

.dark-mode .header, .dark-mode .footer, .dark-mode .setPageBackground{
  background-color: #544aaf;
}

.dark-mode .aboutusbutton, .dark-mode .helpButton {
  background-color: #ccc0ff;;
}

.dark-mode #helpHeader, .dark-mode #setInfo, .dark-mode .aboutus, .dark-mode .containerHeader, .dark-mode .searchBackgroundBox, .dark-mode .helpBox,.dark-mode .part, .dark-mode .set, .dark-mode .error{
  background-color: #ccc0ff;
}

.dark-mode .aboutUsBox{
  background-color: #ccc0ff;
}

/*https://www.w3schools.com/howto/howto_css_fullscreen_search.asp*/
